html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url(../images/windmill.jpg);
    background-size: cover;
}

.logo {
    position: fixed;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    border: 1px solid #FFF;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}